<!DOCTYPE html>
<html>
<head>


<link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<link rel="shortcut icon" href="images/img/bezSlov.png" type="image/png">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="stylesheets/master.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

<meta name="yandex-verification" content="70842b1bad34fd2d" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="yandex-verification" content="70842b1bad34fd2d" />

<style>
        .mySlides {display:none;}
</style>
<meta name="yandex-verification" content="70842b1bad34fd2d" />
<meta charset='utf-8'>
<title>Усадьба 1</title>




<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">
</script>
</head>

<body>
<!-- nav bar-->
        <nav id="navbar" class="">
                <div class="nav-wrapper">
                  <!-- Navbar Logo -->
                  <div class="logo">
                    <!-- Logo Placeholder for Inlustration -->
                    <a href="/"><img src="images/img/bezSlov.png" alt="">Усадьба 1</a>
                  </div>

                  <!-- Navbar Links -->
                  <ul id="menu">
                    <li><a href="/">ГОСТИНИЦА</a></li><!--
                 --><li><a href="#restoran">РЕСТОРАН</a></li><!--
                 --><li><a href="#sauna">САУНА</a></li>
                    <li><a href="#galerija">ГАЛЕРEЯ</a></li>

                 <li><a href="/kontakt">КОНТАКТЫ</a></li>
                  </ul>
                </div>
              </nav>


              <!-- Menu Icon -->
              <div class="menuIcon">
                <span class="icon icon-bars"></span>
                <span class="icon icon-bars overlay"></span>
              </div>


              <div class="overlay-menu">
                <ul id="menu">
                    <li><a href="/">ГОСТИНИЦА</a></li>
                    <li><a href="#restoran">РЕСТОРАН</a></li>
                    <li><a href="#sauna">САУНА</a></li>
                    <li><a href="#galerija">ГАЛЕРИЯ</a></li>
                    <li><a href="/kontakt">КОНТАКТЫ</a></li>
                  </ul>
              </div>
<!--end of nav bro -->




<!--banner -->

<div class="banner"  style="background: url(images/img/pozadinskaslika.jpg) center/cover fixed no-repeat; padding-top: 300px; padding-bottom: 400px; ">
        <div class="banner-center">
          <img src="images/img/bezSlov.png" alt="">
            <h1>Уют на берегу Волги</h1>

            <div class="banner-icons">

                <a href="https://vk.com/usadba1hotel" id="vk"><i class="fab fa-vk"></i></a>
                <a href="https://www.instagram.com/usadba1/"><i class="fab fa-instagram"></i></a>


            </div>
        </div>

    </div>

    <section class="projects">

      <!--title-->
          <div class="title">

              <h2 style="color:#444749">Гостевой дом “Усадьба”</h2>
              <h3 style="color:#444749; padding-left: 2em; padding-right: 2em;">
                Устали от шумной городской жизни и мечтаете о комфортном, спокойном отдыхе в тихом месте?
            Тогда вам к нам!
            Гостевой дом “Усадьба” - это гостиница, гостевые дома, ресторан, сауна с бассейном.
            Гостевой дом “Усадьба” - это целый комплекс услуг, которые позволяют отдохнуть комфортно и полюбоваться красотами местной природы. Отдых на любой вкус и кошелёк!
            Для гостей города в “Усадьбe” есть 3-х этажная гостиница. Первый и второй этажи – номера Стандарт, а третий этаж – номера Люкс. </h3>
              <div class="title-underline">

              </div>

          </div>
      <!--end of title-->
  </section>












<!-- slideshow -->
<div class="w3-content w3-display-container" style="padding-bottom:150px; padding-top: 150px;">

        <img class="mySlides" src="images/img/novislajd.jpg" style="width:100%">
        <img class="mySlides" src="images/img/novislajd1.jpg" style="width:100%">
        <img class="mySlides" src="images/img/novislajd2.jpg" style="width:100%">
        <img class="mySlides" src="images/img/hotl/hotel12.jpg" style="width:100%">
        <img class="mySlides" src="images/img/rest/rest2.jpg" style="width:100%">
        <img class="mySlides" src="images/img/saun/sauna5.jpg" style="width:100%">

        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<!--servicessssss-->

<section class="services" style="background: url(images/img/servis.jpg) center/cover fixed no-repeat ;">

        <div class="services-center">

            <article class="service">

                <div class="service-icon">

                    <i class="fas fa-bed"></i>

                </div>
                <div class="service-text">

                    <h3 style="font-size: 3vw;color:#444749;">Белоснежные простыни и полотенца, уютная обстановка и шаговая доступность к достопримечательностям города </h3>

                    <p style="color:#444749"><a href="#menimeni">С нашими номерами можно ознакомиться  <a href="/images/Гостиница.pdf" download>здесь</a></a></p>

                </div>
            </article>
            <article class="service">

                <div class="service-icon">

                    <i class="fas fa-utensils"></i>

                </div>
                <div class="service-text">

                    <h3 style="font-size: 3vw;color:#444749;">Кухня для самых привередливых гурманов</h3>
                    <p style="color:#444749;"><a href="#menimeni">С меню можно ознакомиться <a href="/images/Меню.pdf" download>здесь</a></a></p>



                </div>
            </article>
            <article class="service">

                <div class="service-icon">

                    <i class="fas fa-swimming-pool"></i>

                </div>
                <div class="service-text">

                    <h3 style="font-size: 3vw;color:#444749;"> Любителям попариться предоставляется сауна с финской парной </h3>

                </div>
            </article>


        </div>

    </section>
    <!--SECTION HOTEL MDFK-->





    <!--title-->

    <section class="projects"  id="restoran">

            <!--title-->
                <div class="title">

                    <h2 style="color:#444749;">Наш ресторан</h2>
                    <h3 style="color:#444749; padding-left: 2em; padding-right: 2em;">Светлый, уютный и в то же время стильный ресторан оснащён системой караоке, баром и позволяет, как активно провести время, так и скоротать уютный вечерок в душевной компании. Сидя за столиком с чашечкой ароматного кофе взору открывается потрясающий вид на реку Волгу и главную достопримечательность города Калязина – колокольню Никольского собора, гордо возвышающуюся посреди реки.
                      Меню ресторана разнообразное – от привычной домашней еды, до изысканной итальянской кухни. Фирменные блюда от шеф-повара разработаны специально для ресторана “Усадьба” и способны удовлетворить вкус самого строго гурмана.
                      В тёплое время года работает лофт – просторная терраса, из окон которой открываются потрясающие виды на водные просторы. Здесь проходят самые романтичные свадьбы, празднуются самые весёлые юбилеи и другие важные события. </h3>

                    <div class="title-underline">

                    </div>

                </div>
            <!--end of title-->
        </section>

        <!--SECTION RESTORAN MDFKKKKKK==============================================================================================-->

        <section class="servicesb" style="background: url(/images/img/slikaZaRest.jpg) center/cover fixed no-repeat ;text-align: center;">



          <p style="font-size:4vw;color:#444749;padding-left: 2em; padding-right: 2em;"> Ресторан, лофт и зона барбекю – созданы, чтобы дарить вам радость. </p>





        </section>


        <section id="sauna" class="projects">

          <!--title-->
              <div class="title">

                  <h2 style="color:#444749;">Гостевой дом (сауна)</h2>
                  <h3 style="color:#444749; padding-left: 2em; padding-right: 2em;">Гостевой дом – это две комнаты, расположенные на втором этаже, а также кухня, столовая зона с необходимым для приготовления пищи оборудованием и холодильником, и сауна с бассейном – на первом этаже. Номера повышенной комфортности оснащены всем, что нужно для жизни. Бревенчатые стены дома создают особый колорит и благотворно влияют на сон и здоровье в целом. </h3>
                  <div class="title-underline">

                  </div>

              </div>
          <!--end of title-->
      </section>




<section  class="servicesb" style="background: url(images/img/saun/saunaslajder.jpg) center/cover fixed no-repeat ;">

  <div class="services-centerb">


      <p style="font-size:4vw;color:#444749;  padding-left: 2em; padding-right: 2em;">Любителям попариться предоставляется сауна с финской парной.
        Рядом с ней мини –бассейн, температуру воды в нём можно отрегулировать.</p>

  </div>

</section>


<section class="projects">

    <!--title-->
        <div id="galerija" class="title">

            <h2>“Усадьба” на фотографиях
            </h2>

            <div class="title-underline">

            </div>

        </div>
    <!--end of title-->
</section>

    <!--galerijaaaaaaaaaaaa-->

    <section id="gallery">
            <div class="container">
              <div id="image-gallery">
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                    <div class="img-wrapper">
                      <a href="images/imgg/hotel1.jpg"><img src="images/imgg/hotel1.jpg" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                    <div class="img-wrapper">
                      <a href="images/imgg/hotel2.jpg"><img src="images/imgg/hotel2.jpg" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                        <div class="img-wrapper">
                          <a href="images/imgg/hotel3.jpg"><img src="images/imgg/hotel3.jpg" class="img-responsive"></a>
                          <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                        <div class="img-wrapper">
                          <a href="images/imgg/hotel4.jpg"><img src="images/imgg/hotel4.jpg" class="img-responsive"></a>
                          <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                        <div class="img-wrapper">
                          <a href="images/imgg/hotel5.jpg"><img src="images/imgg/hotel5.jpg" class="img-responsive"></a>
                          <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                    <div class="img-wrapper">
                      <a href="images/imgg/hotel6.jpg"><img src="images/imgg/hotel6.jpg" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                    <div class="img-wrapper">
                      <a href="images/imgg/hotel7..jpg"><img src="images/imgg/hotel7..jpg" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                    <div class="img-wrapper">
                      <a href="images/imgg/hotel8.jpg"><img src="images/imgg/hotel8.jpg" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                        <div class="img-wrapper">
                          <a href="images/imgg/hotel9.jpg"><img src="images/imgg/hotel9.jpg" class="img-responsive"></a>
                          <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                        <div class="img-wrapper">
                          <a href="images/imgg/hotel10.jpg"><img src="images/imgg/hotel10.jpg" class="img-responsive"></a>
                          <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                            <div class="img-wrapper">
                              <a href="images/imgg/hotel11.jpg"><img src="images/imgg/hotel11.jpg" class="img-responsive"></a>
                              <div class="img-overlay">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                            <div class="img-wrapper">
                              <a href="images/imgg/hotel12.jpg"><img src="images/imgg/hotel12.jpg" class="img-responsive"></a>
                              <div class="img-overlay">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                            <div class="img-wrapper">
                              <a href="images/imgg/hotel13.jpg"><img src="images/imgg/hotel13.jpg" class="img-responsive"></a>
                              <div class="img-overlay">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                        <div class="img-wrapper">
                          <a href="images/imgg/hotel14.jpg"><img src="images/imgg/hotel14.jpg" class="img-responsive"></a>
                          <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                        <div class="img-wrapper">
                          <a href="images/imgg/hotel15.jpg"><img src="images/imgg/hotel15.jpg" class="img-responsive"></a>
                          <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                        <div class="img-wrapper">
                          <a href="images/imgg/hotel16.jpg"><img src="images/imgg/hotel16.jpg" class="img-responsive"></a>
                          <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>


                </div><!-- End row -->
              </div><!-- End image gallery -->
            </div><!-- End container -->
          </section>
          <section class="projects">

              <!--title-->
                  <div id="galerija" class="title">

                      <h2>Меню
                      </h2>

                      <div class="title-underline">

                      </div>

                  </div>
              <!--end of title-->
          </section>
          <div idf="menimeni">
          <section id="gallery">
                  <div class="container">
                    <div id="image-gallery">
                      <div class="row">
          <!-- nova galerija-->
                                 <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                                   <div class="img-wrapper">
                                     <a href="images/imgg/meni1.jpg"><img src="images/imgg/meni1.jpg" class="img-responsive"></a>
                                     <div class="img-overlay">
                                       <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                     </div>
                                   </div>
                                 </div>
                           <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                             <div class="img-wrapper">
                               <a href="images/imgg/meni2.jpg"><img src="images/imgg/meni2.jpg" class="img-responsive"></a>
                               <div class="img-overlay">
                                 <i class="fa fa-plus-circle" aria-hidden="true"></i>
                               </div>
                             </div>
                           </div>
                           <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                                 <div class="img-wrapper">
                                   <a href="images/imgg/meni3.jpg"><img src="images/imgg/meni3.jpg" class="img-responsive"></a>
                                   <div class="img-overlay">
                                     <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                   </div>
                                 </div>
                               </div>
                               <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                             <div class="img-wrapper">
                               <a href="images/imgg/meni4.jpg"><img src="images/imgg/meni4.jpg" class="img-responsive"></a>
                               <div class="img-overlay">
                                 <i class="fa fa-plus-circle" aria-hidden="true"></i>
                               </div>
                             </div>
                           </div>
                           <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                             <div class="img-wrapper">
                               <a href="images/imgg/meni5.jpg"><img src="images/imgg/meni5.jpg" class="img-responsive"></a>
                               <div class="img-overlay">
                                 <i class="fa fa-plus-circle" aria-hidden="true"></i>
                               </div>
                             </div>
                           </div>
                           <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                                 <div class="img-wrapper">
                                   <a href="images/imgg/meni6.jpg"><img src="images/imgg/meni6.jpg" class="img-responsive"></a>
                                   <div class="img-overlay">
                                     <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                   </div>
                                 </div>
                               </div>
                               <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                             <div class="img-wrapper">
                               <a href="images/imgg/meni7.jpg"><img src="images/imgg/meni7.jpg" class="img-responsive"></a>
                               <div class="img-overlay">
                                 <i class="fa fa-plus-circle" aria-hidden="true"></i>
                               </div>
                             </div>
                           </div>
                           <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                             <div class="img-wrapper">
                               <a href="images/imgg/meni8.jpg"><img src="images/imgg/meni8.jpg" class="img-responsive"></a>
                               <div class="img-overlay">
                                 <i class="fa fa-plus-circle" aria-hidden="true"></i>
                               </div>
                             </div>
                           </div>
                           <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                                 <div class="img-wrapper">
                                   <a href="images/imgg/meni9.jpg"><img src="images/imgg/meni9.jpg" class="img-responsive"></a>
                                   <div class="img-overlay">
                                     <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                   </div>
                                 </div>
                               </div>
                               <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                             <div class="img-wrapper">
                               <a href="images/imgg/meni10.jpg"><img src="images/imgg/meni10.jpg" class="img-responsive"></a>
                               <div class="img-overlay">
                                 <i class="fa fa-plus-circle" aria-hidden="true"></i>
                               </div>
                             </div>
                           </div>
                           <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                             <div class="img-wrapper">
                               <a href="images/imgg/meni11.jpg"><img src="images/imgg/meni11.jpg" class="img-responsive"></a>
                               <div class="img-overlay">
                                 <i class="fa fa-plus-circle" aria-hidden="true"></i>
                               </div>
                             </div>
                           </div>
                           <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                                 <div class="img-wrapper">
                                   <a href="images/imgg/meni12.jpg"><img src="images/imgg/meni12.jpg" class="img-responsive"></a>
                                   <div class="img-overlay">
                                     <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                   </div>
                                 </div>
                               </div>
                               <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                             <div class="img-wrapper">
                               <a href="images/imgg/meni13.jpg"><img src="images/imgg/meni13.jpg" class="img-responsive"></a>
                               <div class="img-overlay">
                                 <i class="fa fa-plus-circle" aria-hidden="true"></i>
                               </div>
                             </div>
                           </div>
                           <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                             <div class="img-wrapper">
                               <a href="images/imgg/meni14.jpg"><img src="images/imgg/meni14.jpg" class="img-responsive"></a>
                               <div class="img-overlay">
                                 <i class="fa fa-plus-circle" aria-hidden="true"></i>
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>
                     </div>
                   </section>
                   </div>


          <!--footer hitta -->
          <footer>
                <div class="container">

                    <div class="footer-box" style="font-size:;">

                        <div class="kurac">
                        <a href="tel:+79190599860"><i  class="fas fa-phone"><p style="padding:5px; font-size: 0.6em; color:black;">Управляющая- Наталья Вдовина тел.+79108310304 </p>  </i></a>

                        <a ><i  class="fas fa-clock"><p style="padding:5px; font-size: 0.6em; color:black;">Время работы: С 11:00 до 00:00</p></i></a>

                        <a href="https://www.google.com/maps?ll=57.243294,37.85217&z=15&t=m&hl=en-GB&gl=RS&mapclient=embed&q=Ulitsa+Kommunisticheskaya,+1+Kalyazin+Tverskaya+oblast%27,+Russia+171573"><i  class="fas fa-map-marker-alt"><p style="padding:5px; font-size: 0.6em; color:black;">Город Калязин, ул. Коммунистическаядом 1 </p></i>
                        </a>

                      </div>
                    </div>
                    <div  class="footer-box">
                        <p style="color: black; font-size: 11px;">Copyright &copy; Usadba-1</p>
                    </div>
                </div>
              </footer>


<script src="javascripts/script.js"></script>
</body>
</html>
