<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="stylesheets/master.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<meta name="viewport" content="width=device-width, initial-scale=1.0">



<style>
        .mySlides {display:none;}
</style>

<meta charset='utf-8'>
<title>andrija</title>




<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
</head>

<body>
<!-- nav bar-->
        <nav id="navbar" class="">
                <div class="nav-wrapper">
                  <!-- Navbar Logo -->
                  <div class="logo">
                    <!-- Logo Placeholder for Inlustration -->
                    <a href="#home"><img src="images/img/bezSlov.png" alt=""> Andrija</a>
                  </div>
              
                  <!-- Navbar Links -->
                  <ul id="menu">
                    <li><a href="/">Hotel</a></li><!--
                 --><li><a href="/restoran">Restourant</a></li><!--
                 --><li><a href="/sauna">Sauna</a></li><!--
                 --><li><a href="/kontakt">Contact</a></li>
                  </ul>
                </div>
              </nav>
              
              
              <!-- Menu Icon -->
              <div class="menuIcon">
                <span class="icon icon-bars"></span>
                <span class="icon icon-bars overlay"></span>
              </div>
              
              
              <div class="overlay-menu">
                <ul id="menu">
                    <li><a href="/">Hotel</a></li>
                    <li><a href="/restoran">Restoran</a></li>
                    <li><a href="/sauna">Sauna</a></li>
                    <li><a href="/kontakt">Kontakt</a></li>
                  </ul>
              </div>
<!--end of nav bro -->




<!--banner -->

<div class="banner">
        <div class="banner-center">
            <img src="images/img/saSLov.png" alt="img">


            <div class="banner-icons">

                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>

            </div>
        </div>

    </div>












<!-- slideshow -->
<div class="w3-content w3-display-container" style="padding-bottom:150px;">
        <img class="mySlides" src="images/img/hotl/hotel1.jpg" style="width:100%">
        <img class="mySlides" src="images/img/hotl/hotel2.jpg" style="width:100%">
        <img class="mySlides" src="images/img/hotl/hotel3.jpg" style="width:100%">
        <img class="mySlides" src="images/img/hotl/hotel4.jpg" style="width:100%">
      
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<!--servicessssss-->

<section class="services" style="background: url(images/img/pozadina.jpg) center/cover fixed no-repeat ;">

        <div class="services-center">

            <article class="service">

                <div class="service-icon">

                    <i class="fas fa-bed"></i>

                </div>
                <div class="service-text">

                    <h3>najbolji duseki na svet</h3>

                    <p>NASI DUSECI SU OD ZIVIH PERIJA I FLEKSIBILNI SU SKROZ</p>

                </div>
            </article>
            <article class="service">

                <div class="service-icon">

                    <i class="fas fa-utensils"></i>

                </div>
                <div class="service-text">

                    <h3>bruka klopa u restoranu</h3>

                    <p>nas meni je sirok nas meni je sladak imamo strava hranu</p>

                </div>
            </article>
            <article class="service">

                <div class="service-icon">

                    <i class="fas fa-swimming-pool"></i>

                </div>
                <div class="service-text">

                    <h3>nasi bazeni su puni vode </h3>

                    <p>voda mokra cista super super super</p>

                </div>
            </article>


        </div>

    </section>

    <!--title-->

    <section class="projects">
            <!--title-->
                <div class="title">
                    <h2>our pictres</h2>
                    <div class="title-underline">
        
                    </div>
        
                </div>
            <!--end of title-->
        </section>



    <!--galerijaaaaaaaaaaaa-->

    <section id="gallery">
            <div class="container">
              <div id="image-gallery">
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                    <div class="img-wrapper">
                      <a href="images/img/rsz_hotel15.jpg"><img src="images/img/rsz_hotel15.jpg" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                    <div class="img-wrapper">
                      <a href="images/img/rsz_hotel15.jpg"><img src="images/img/rsz_hotel15.jpg" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                        <div class="img-wrapper">
                          <a href="images/img/rsz_hotel15.jpg"><img src="images/img/rsz_hotel15.jpg" class="img-responsive"></a>
                          <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                        <div class="img-wrapper">
                          <a href="images/img/rsz_hotel15.jpg"><img src="images/img/rsz_hotel15.jpg" class="img-responsive"></a>
                          <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                        <div class="img-wrapper">
                          <a href="images/img/rsz_hotel15.jpg"><img src="images/img/rsz_hotel15.jpg" class="img-responsive"></a>
                          <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                    <div class="img-wrapper">
                      <a href="images/img/rsz_hotel15.jpg"><img src="images/img/rsz_hotel15.jpg" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                    <div class="img-wrapper">
                      <a href="images/img/rsz_hotel15.jpg"><img src="images/img/rsz_hotel15.jpg" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                    <div class="img-wrapper">
                      <a href="images/img/rsz_hotel15.jpg"><img src="images/img/rsz_hotel15.jpg" class="img-responsive"></a>
                      <div class="img-overlay">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                        <div class="img-wrapper">
                          <a href="images/img/rsz_hotel15.jpg"><img src="images/img/rsz_hotel15.jpg" class="img-responsive"></a>
                          <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                        <div class="img-wrapper">
                          <a href="images/img/rsz_hotel15.jpg"><img src="images/img/rsz_hotel15.jpg" class="img-responsive"></a>
                          <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                            <div class="img-wrapper">
                              <a href="images/img/rsz_hotel15.jpg"><img src="images/img/rsz_hotel15.jpg" class="img-responsive"></a>
                              <div class="img-overlay">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                            <div class="img-wrapper">
                              <a href="images/img/rsz_hotel15.jpg"><img src="images/img/rsz_hotel15.jpg" class="img-responsive"></a>
                              <div class="img-overlay">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                            <div class="img-wrapper">
                              <a href="images/img/rsz_hotel15.jpg"><img src="images/img/rsz_hotel15.jpg" class="img-responsive"></a>
                              <div class="img-overlay">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                        <div class="img-wrapper">
                          <a href="images/img/rsz_hotel15.jpg"><img src="images/img/rsz_hotel15.jpg" class="img-responsive"></a>
                          <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                        <div class="img-wrapper">
                          <a href="images/img/rsz_hotel15.jpg"><img src="images/img/rsz_hotel15.jpg" class="img-responsive"></a>
                          <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                        <div class="img-wrapper">
                          <a href="images/img/rsz_hotel15.jpg"><img src="images/img/rsz_hotel15.jpg" class="img-responsive"></a>
                          <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                  
                </div><!-- End row -->
              </div><!-- End image gallery -->
            </div><!-- End container --> 
          </section>


          <!--footer hitta -->
          <footer>
                <div class="container">
                    <div class="footer-box">
                        <p>Copyright &copy; 2018 ANDeRIJINA PRICA</p>
                    </div>
                    <div class="footer-box">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
              
                    </div>
                </div>
              </footer>


<script src="javascripts/script.js"></script>
</body>
</html>
